<a href=#bookmark>**Once data is already scraped, click here to jump down to the right place.**</a>

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

import selenium
import os
import pprint

import googlemaps

from collections import defaultdict

import time

import pickle

%load_ext dotenv
%dotenv

%load_ext autoreload
%autoreload 2

In [2]:
# Use fivethirtyeight styling, because I like it
import matplotlib.style as style
style.use('fivethirtyeight')

# Import private API key

MAPS_KEY = os.environ.get('MAPS_KEY')

# Change format of charts to .svg
%config InlineBackend.figure_format = 'svg'

In [4]:
%xmode

Exception reporting mode: Plain

In [5]:
# This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.
# Read the data into pandas dataframe
df = pd.read_csv('kc_house_data.csv')

In [6]:
# Let's take a look at the data
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [7]:
# Recast price column as integer, for simplicity
df['price'] = df.price.astype(int)

In [26]:
coords = list(zip(df['lat'].astype(float), df['long'].astype(float)))

In [30]:
len(coords)

21613

In [31]:
formatted_addresses = []
json_addresses = []
neighborhoods_list = []
address_dictionary = defaultdict(str)

def get_addresses(coords_list):
    count = 0
    for coord_tuple in coords_list:
        count +=1
#         if count >= 1000:
#             time.sleep(120)
#             count = 0
        
        try:
            # Instantiate a Google Maps API session
            address = gmaps.reverse_geocode(coord_tuple)
            
            # Parse the JSON results
            formatted_address = address[1]['formatted_address']
            
            # Store both a list of formatted addresses and a list of all data for safekeeping
            formatted_addresses.append(formatted_address)
            json_addresses.append(address)
            
            # Store a list of neighborhoods
            neighborhood = address[0]['address_components'][2]['short_name']
            neighborhoods_list.append(neighborhood)
            
            # Store a dictionary of lat/long and formatted addresses, in case we need to map to dataframe later
            address_dictionary[coord_tuple] = formatted_address
            
            print('Success')

        except:
            print('Could not get address.')
            formatted_addresses.append(None)

In [33]:
get_addresses(coords)

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [34]:
len(formatted_addresses)

21613

In [39]:
# # Pickling original list so not to lose my work
# with open('address_list_final.pkl', 'wb') as f:
#     pickle.dump(list_of_addresses, f)

# with open('formatted_addresses.pkl', 'wb') as f:
#     pickle.dump(formatted_addresses, f)

# # Pickling like crazy because I don't want to lose my data.
# # Yes, I know pickling isn't always the best. Works for now.
# with open('json_addresses.pkl', 'wb') as f:
#     pickle.dump(json_addresses, f)

# with open('neighborhoods.pkl', 'wb') as f:
#     pickle.dump(neighborhoods_list, f)

# with open('address_dictionary.pkl', 'wb') as f:
#     pickle.dump(address_dictionary, f)

In [64]:
# Backing up a whole bunch more
neighborhood_df.to_csv('neighborhood_csv.csv', index=False, header=False)
nh = pd.read_csv('neighborhood_csv.csv')
formatted_addresses_df = pd.DataFrame(formatted_addresses, columns=['Formatted Addresses'])
formatted_addresses_df.to_csv('formatted_addresses_csv.csv', index=False)

In [71]:
# Add formatted addresses from Google Maps API to our dataframe (!)
df['Address'] = formatted_addresses

In [ ]:
# Adding neighborhood to dataframe
df['Neighborhood'] = neighborhoods_list

**Start here once data is already scraped** <a name='bookmark' />

In [8]:
# Now that the data is already scraped, we can pick up from here and add 'Address' column to main dataframe
addresses_df = pd.read_csv('formatted_addresses_csv.csv')
df['Address'] = addresses_df['Formatted Addresses']

In [20]:
neighborhood_df = pd.read_csv('neighborhood_csv.csv', header=None)
df['Neighborhood'] = neighborhood_df

Code in cell below is for imputing zip code from Google addresses, but we already have that data in another column. May return to this later.

In [95]:
# # Grab a list of all the zip codes from the formatted addresses list
# # I love list comprehensions!
# zip_list = [x.split(',')[-2][-5:] for x in formatted_addresses]

# df['Imputed Zip Code'] = zip_list

# def get_zips(x):
#     if x == ' WA' or x == 'ngton':
#         return 0
#     else:
#         return x

# df['Imputed Zip Code'] = df['Imputed Zip Code'].apply(get_zips)

# df['Imputed Zip Code'] = df['Imputed Zip Code'].astype(int)

In [47]:
# 205 Unique Neighborhoods. Should be sufficient for Walk Score/Transit Score/Bike Score etc. for our purposes.
df['Neighborhood'].nunique()

205

In [48]:
# Initialize a numpy array with unique neighborhoods, that we will later use to scrape data from the web
unique_neighborhoods = np.array(df['Neighborhood'].value_counts().index)

In [54]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'Address',
       'Neighborhood'],
      dtype='object')

In [165]:
adds = df['Address']

In [213]:
adds

0                 6101 S Cooper St, Seattle, WA 98118, USA
1                  860 NE 127th St, Seattle, WA 98125, USA
2                15098 81st Ave NE, Kenmore, WA 98028, USA
3           9247 Fauntleroy Way SW, Seattle, WA 98136, USA
4                757 222nd Pl NE, Sammamish, WA 98074, USA
5           25005 NE Patterson Way, Redmond, WA 98053, USA
6               505 S 325th St, Federal Way, WA 98003, USA
7              21413 15th Ave S, Des Moines, WA 98198, USA
8                  209 SW 102nd St, Seattle, WA 98146, USA
9           26019 232nd Pl SE, Maple Valley, WA 98038, USA
10               1008 145th Pl SE, Bellevue, WA 98007, USA
11                 3435 NE 85th St, Seattle, WA 98115, USA
12                17617 83rd Pl NE, Kenmore, WA 98028, USA
13              305 221st Ave NE, Sammamish, WA 98074, USA
14                 2814 NW 56th St, Seattle, WA 98107, USA
15                3608 33rd Ave SW, Seattle, WA 98126, USA
16                14028 282nd Ln NE, Duvall, WA 98019, USA
17                  1211 N 50th St, Seattle, WA 98103, USA
18                    25 Pike St NE, Auburn, WA 98002, USA
19             2202 S 300th St, Federal Way, WA 98003, USA
20           10037 Interlake Ave N, Seattle, WA 98133, USA
21           8134 SE 83rd St, Mercer Island, WA 98040, USA
22                12813 SE 307th Pl, Auburn, WA 98092, USA
23                  13107 SE 277th Pl, Kent, WA 98030, USA
24                  12724 SE 254th Ct, Kent, WA 98030, USA
25                      227 I St SE, Auburn, WA 98002, USA
26                  2215 2nd Ave W, Seattle, WA 98119, USA
27              1414 E Harrison St, Seattle, WA 98112, USA
28                9109 23rd Ave NE, Seattle, WA 98115, USA
29              17260 NE 119th Way, Redmond, WA 98052, USA
                               ...
21583          2348 Fairview Ave E, Seattle, WA 98102, USA
21584             4542 41st Ave SW, Seattle, WA 98116, USA
21585              21608 SE 299th Way, Kent, WA 98042, USA
21586              1751 NW 58th St, Seattle, WA 98107, USA
21587           1725 NE 145th St, Shoreline, WA 98155, USA
21588    5238, 1427 NW 65th St, Seattle, WA 98117, Unit...
21589       28458 239th Pl SE, Maple Valley, WA 98038, USA
21590           4502 205th Pl NE, Sammamish, WA 98074, USA
21591             11451 80th Ave S, Seattle, WA 98178, USA
21592           3902 Whitman Ave N, Seattle, WA 98103, USA
21593            7515 SE 76th St, Newcastle, WA 98056, USA
21594          25305 176th Pl SE, Covington, WA 98042, USA
21595           3809 Whitman Ave N, Seattle, WA 98103, USA
21596                6558 NE 1st St, Renton, WA 98059, USA
21597        8704 SE 45th St, Mercer Island, WA 98040, USA
21598               5637 S 344th Ct, Auburn, WA 98001, USA
21599             21837 NE 97th Pl, Redmond, WA 98053, USA
21600            10524 NE 24th St, Bellevue, WA 98004, USA
21601      9221B, Roosevelt Way NE, Seattle, WA 98115, USA
21602        25510 Lawson St, Black Diamond, WA 98010, USA
21603    6930 Elderberry Ave SE, Snoqualmie, WA 98065, USA
21604              3656 36th Ave S, Seattle, WA 98144, USA
21605               3943 NE 24th Ct, Renton, WA 98056, USA
21606             5426 Beach Dr SW, Seattle, WA 98136, USA
21607             3012 60th Ave SW, Seattle, WA 98116, USA
21608                929 N 97th St, Seattle, WA 98103, USA
21609             2245 SW 104th St, Seattle, WA 98146, USA
21610               902 26th Ave S, Seattle, WA 98144, USA
21611      2157 NW Boulder Way Dr, Issaquah, WA 98027, USA
21612               916 26th Ave S, Seattle, WA 98144, USA
Name: Address, Length: 21613, dtype: object

In [60]:
adds = adds.apply(lambda x: x.split(','))

In [68]:
adds = pd.DataFrame(adds)

In [160]:
adds

                                                 Address
0          [6101 S Cooper St,  Seattle,  WA 98118,  USA]
1           [860 NE 127th St,  Seattle,  WA 98125,  USA]
2         [15098 81st Ave NE,  Kenmore,  WA 98028,  USA]
3      [9247 Fauntleroy Way SW,  Seattle,  WA 98136, ...
4         [757 222nd Pl NE,  Sammamish,  WA 98074,  USA]
5      [25005 NE Patterson Way,  Redmond,  WA 98053, ...
6        [505 S 325th St,  Federal Way,  WA 98003,  USA]
7       [21413 15th Ave S,  Des Moines,  WA 98198,  USA]
8           [209 SW 102nd St,  Seattle,  WA 98146,  USA]
9      [26019 232nd Pl SE,  Maple Valley,  WA 98038, ...
10        [1008 145th Pl SE,  Bellevue,  WA 98007,  USA]
11          [3435 NE 85th St,  Seattle,  WA 98115,  USA]
12         [17617 83rd Pl NE,  Kenmore,  WA 98028,  USA]
13       [305 221st Ave NE,  Sammamish,  WA 98074,  USA]
14          [2814 NW 56th St,  Seattle,  WA 98107,  USA]
15         [3608 33rd Ave SW,  Seattle,  WA 98126,  USA]
16         [14028 282nd Ln NE,  Duvall,  WA 98019,  USA]
17           [1211 N 50th St,  Seattle,  WA 98103,  USA]
18             [25 Pike St NE,  Auburn,  WA 98002,  USA]
19      [2202 S 300th St,  Federal Way,  WA 98003,  USA]
20     [10037 Interlake Ave N,  Seattle,  WA 98133,  ...
21     [8134 SE 83rd St,  Mercer Island,  WA 98040,  ...
22         [12813 SE 307th Pl,  Auburn,  WA 98092,  USA]
23           [13107 SE 277th Pl,  Kent,  WA 98030,  USA]
24           [12724 SE 254th Ct,  Kent,  WA 98030,  USA]
25               [227 I St SE,  Auburn,  WA 98002,  USA]
26           [2215 2nd Ave W,  Seattle,  WA 98119,  USA]
27       [1414 E Harrison St,  Seattle,  WA 98112,  USA]
28         [9109 23rd Ave NE,  Seattle,  WA 98115,  USA]
29       [17260 NE 119th Way,  Redmond,  WA 98052,  USA]
...                                                  ...
21583   [2348 Fairview Ave E,  Seattle,  WA 98102,  USA]
21584      [4542 41st Ave SW,  Seattle,  WA 98116,  USA]
21585       [21608 SE 299th Way,  Kent,  WA 98042,  USA]
21586       [1751 NW 58th St,  Seattle,  WA 98107,  USA]
21587    [1725 NE 145th St,  Shoreline,  WA 98155,  USA]
21588  [5238,  1427 NW 65th St,  Seattle,  WA 98117, ...
21589  [28458 239th Pl SE,  Maple Valley,  WA 98038, ...
21590    [4502 205th Pl NE,  Sammamish,  WA 98074,  USA]
21591      [11451 80th Ave S,  Seattle,  WA 98178,  USA]
21592    [3902 Whitman Ave N,  Seattle,  WA 98103,  USA]
21593     [7515 SE 76th St,  Newcastle,  WA 98056,  USA]
21594   [25305 176th Pl SE,  Covington,  WA 98042,  USA]
21595    [3809 Whitman Ave N,  Seattle,  WA 98103,  USA]
21596         [6558 NE 1st St,  Renton,  WA 98059,  USA]
21597  [8704 SE 45th St,  Mercer Island,  WA 98040,  ...
21598        [5637 S 344th Ct,  Auburn,  WA 98001,  USA]
21599      [21837 NE 97th Pl,  Redmond,  WA 98053,  USA]
21600     [10524 NE 24th St,  Bellevue,  WA 98004,  USA]
21601  [9221B,  Roosevelt Way NE,  Seattle,  WA 98115...
21602  [25510 Lawson St,  Black Diamond,  WA 98010,  ...
21603  [6930 Elderberry Ave SE,  Snoqualmie,  WA 9806...
21604       [3656 36th Ave S,  Seattle,  WA 98144,  USA]
21605        [3943 NE 24th Ct,  Renton,  WA 98056,  USA]
21606      [5426 Beach Dr SW,  Seattle,  WA 98136,  USA]
21607      [3012 60th Ave SW,  Seattle,  WA 98116,  USA]
21608         [929 N 97th St,  Seattle,  WA 98103,  USA]
21609      [2245 SW 104th St,  Seattle,  WA 98146,  USA]
21610        [902 26th Ave S,  Seattle,  WA 98144,  USA]
21611  [2157 NW Boulder Way Dr,  Issaquah,  WA 98027,...
21612        [916 26th Ave S,  Seattle,  WA 98144,  USA]

[21613 rows x 1 columns]

In [163]:
# Parsing from the address column to get individual street numbers, cities, etc. to feed into Census
street_add = adds['Address'].apply(lambda x: x[0])

city = adds['Address'].apply(lambda x: x[1])

state = 'WA'

zip = adds['Address'].apply(lambda x: x[2][4:])

In [142]:
# Add a state column that doesn't have any wrong values
state = adds['Address'].apply(lambda x: x[2][1:3])

state = pd.DataFrame(state)

state['Address'] = 'WA'

state['Address'].value_counts()

WA    21613
Name: Address, dtype: int64

In [145]:
output = pd.concat([street_add, city, state, zip], axis=1, names=None)

In [197]:
output

                      Address            Address Address Address
0            6101 S Cooper St            Seattle      WA   98118
1             860 NE 127th St            Seattle      WA   98125
2           15098 81st Ave NE            Kenmore      WA   98028
3      9247 Fauntleroy Way SW            Seattle      WA   98136
4             757 222nd Pl NE          Sammamish      WA   98074
5      25005 NE Patterson Way            Redmond      WA   98053
6              505 S 325th St        Federal Way      WA   98003
7            21413 15th Ave S         Des Moines      WA   98198
8             209 SW 102nd St            Seattle      WA   98146
9           26019 232nd Pl SE       Maple Valley      WA   98038
10           1008 145th Pl SE           Bellevue      WA   98007
11            3435 NE 85th St            Seattle      WA   98115
12           17617 83rd Pl NE            Kenmore      WA   98028
13           305 221st Ave NE          Sammamish      WA   98074
14            2814 NW 56th St            Seattle      WA   98107
15           3608 33rd Ave SW            Seattle      WA   98126
16          14028 282nd Ln NE             Duvall      WA   98019
17             1211 N 50th St            Seattle      WA   98103
18              25 Pike St NE             Auburn      WA   98002
19            2202 S 300th St        Federal Way      WA   98003
20      10037 Interlake Ave N            Seattle      WA   98133
21            8134 SE 83rd St      Mercer Island      WA   98040
22          12813 SE 307th Pl             Auburn      WA   98092
23          13107 SE 277th Pl               Kent      WA   98030
24          12724 SE 254th Ct               Kent      WA   98030
25                227 I St SE             Auburn      WA   98002
26             2215 2nd Ave W            Seattle      WA   98119
27         1414 E Harrison St            Seattle      WA   98112
28           9109 23rd Ave NE            Seattle      WA   98115
29         17260 NE 119th Way            Redmond      WA   98052
...                       ...                ...     ...     ...
21583     2348 Fairview Ave E            Seattle      WA   98102
21584        4542 41st Ave SW            Seattle      WA   98116
21585      21608 SE 299th Way               Kent      WA   98042
21586         1751 NW 58th St            Seattle      WA   98107
21587        1725 NE 145th St          Shoreline      WA   98155
21588                    5238    1427 NW 65th St      WA    ttle
21589       28458 239th Pl SE       Maple Valley      WA   98038
21590        4502 205th Pl NE          Sammamish      WA   98074
21591        11451 80th Ave S            Seattle      WA   98178
21592      3902 Whitman Ave N            Seattle      WA   98103
21593         7515 SE 76th St          Newcastle      WA   98056
21594       25305 176th Pl SE          Covington      WA   98042
21595      3809 Whitman Ave N            Seattle      WA   98103
21596          6558 NE 1st St             Renton      WA   98059
21597         8704 SE 45th St      Mercer Island      WA   98040
21598         5637 S 344th Ct             Auburn      WA   98001
21599        21837 NE 97th Pl            Redmond      WA   98053
21600        10524 NE 24th St           Bellevue      WA   98004
21601                   9221B   Roosevelt Way NE      WA    ttle
21602         25510 Lawson St      Black Diamond      WA   98010
21603  6930 Elderberry Ave SE         Snoqualmie      WA   98065
21604         3656 36th Ave S            Seattle      WA   98144
21605         3943 NE 24th Ct             Renton      WA   98056
21606        5426 Beach Dr SW            Seattle      WA   98136
21607        3012 60th Ave SW            Seattle      WA   98116
21608           929 N 97th St            Seattle      WA   98103
21609        2245 SW 104th St            Seattle      WA   98146
21610          902 26th Ave S            Seattle      WA   98144
21611  2157 NW Boulder Way Dr           Issaquah      WA   98027
21612          916 26th Ave S            Seattle      WA   98144

[21613 rows x 4 columns]

In [289]:
output1 = output.iloc[8000:16000,:]

In [291]:
output1.head()

                 Address            Address Address Address
8000   10261 39th Ave SW            Seattle      WA   98146
8001   17526 47th Ave NE   Lake Forest Park      WA   98155
8002   16116 NE 107th Ct            Redmond      WA   98052
8003   7024 126th Ave NE           Kirkland      WA   98033
8004  17242 164th Way SE             Renton      WA   98058

In [212]:
output1.to_csv('24000.csv')

In [172]:
new = pd.read_csv('output.csv')

In [362]:
census.head(3)

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
55,0,"6101 S Cooper St, Seattle, WA, 98118",Match,Non_Exact,"6101 S COOPER ST, SEATTLE, WA, 98118","-122.25696,47.51166",239766052.0,R,53.0,33.0,11900.0,NaN
53,1,"860 NE 127th St, Seattle, WA, 98125",Match,Non_Exact,"860 NE 127TH ST, SEATTLE, WA, 98125","-122.31958,47.721283",186716651.0,L,53.0,33.0,200.0,NaN
51,2,"15098 81st Ave NE, Kenmore, WA, 98028",Match,Exact,"15098 81ST AVE NE, KENMORE, WA, 98028","-122.23289,47.73783",239770253.0,R,53.0,33.0,22102.0,NaN

In [363]:
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,long,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,-122.257,1340,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,NaN,NaN,NaN,NaN,NaN
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,-122.319,1690,7639,"860 NE 127th St, Seattle, WA 98125, USA",North Seattle,NaN,NaN,NaN,NaN,NaN
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,-122.233,2720,8062,"15098 81st Ave NE, Kenmore, WA 98028, USA",Kenmore,NaN,NaN,NaN,NaN,NaN

In [364]:
df.tail(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,long,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,-122.299,1020,2007,"902 26th Ave S, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,-122.069,1410,1287,"2157 NW Boulder Way Dr, Issaquah, WA 98027, USA",Talus,NaN,NaN,NaN,NaN,NaN
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,-122.299,1020,1357,"916 26th Ave S, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN

In [365]:
census.tail(3)

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
3839,21610,"902 26th Ave S, Seattle, WA, 98144",Match,Exact,"902 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594433",186593301.0,L,53.0,33.0,8900.0,NaN
3837,21611,"2157 NW Boulder Way Dr, Issaquah, WA, 98027",Match,Exact,"2157 NW BOULDER WAY DR, ISSAQUAH, WA, 98027","-122.06923,47.53435",187104382.0,L,53.0,33.0,25006.0,NaN
3845,21612,"916 26th Ave S, Seattle, WA, 98144",Match,Exact,"916 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594334",186593301.0,L,53.0,33.0,8900.0,NaN

In [192]:
new = new[:10]

In [187]:
df3 = pd.read_csv('census_geocode_data/GeocodeResults - 1.csv')

In [189]:
df3.head(10)

,,,,,,,,,Unnamed: 0,"Address, Address, Address, Address",No_Match
6873,"6719 Silent Creek Ave SE, Snoqualmie, WA, 98065",Match,Exact,"6719 SILENT CREEK AVE SE, SNOQUALMIE, WA, 98065","-121.8784,47.540737",639757526.0,R,53.0,33.0,32602.0,NaN
6874,"14718 NE 16th St, Bellevue, WA, 98007",Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6871,"26012 18th Ave S, Des Moines, WA, 98198",Match,Exact,"26012 18TH AVE S, DES MOINES, WA, 98198","-122.31009,47.36838",619973594.0,R,53.0,33.0,30003.0,NaN
6872,"9735 NE 138th Pl, Kirkland, WA, 98034",Match,Non_Exact,"9735 NE 138TH PL, KIRKLAND, WA, 98034","-122.21162,47.724415",239780830.0,L,53.0,33.0,22202.0,NaN
6870,"15210 Bridle Crest Trail, Redmond, WA, 98052",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,"2904 28th St SE, Auburn, WA, 98092",Match,Exact,"2904 28TH ST SE, AUBURN, WA, 98092","-122.190445,47.28541",186656868.0,R,53.0,33.0,31100.0,NaN
530,"21315 SE 269th St, Maple Valley, WA, 98038",Match,Non_Exact,"21315 SE 269TH ST, MAPLE VALLEY, WA, 98038","-122.05633,47.360542",239781411.0,R,53.0,33.0,32008.0,NaN
2951,"15436 SE 20th Pl, Bellevue, WA, 98007",Match,Non_Exact,"15436 SE 20TH PL, BELLEVUE, WA, 98007","-122.13292,47.592213",186614363.0,L,53.0,33.0,23401.0,NaN
6869,"27369 245th Ave SE, Maple Valley, WA, 98038",Match,Exact,"27369 245TH AVE SE, MAPLE VALLEY, WA, 98038","-122.01567,47.356506",186958433.0,R,53.0,33.0,31603.0,NaN
2950,"1819 N 145th St, Shoreline, WA, 98133",Match,Non_Exact,"1819 N 145TH ST, SHORELINE, WA, 98133","-122.33673,47.734127",186574963.0,R,53.0,33.0,300.0,NaN

In [222]:
census_1 = pd.read_csv('census_geocode_data/0 - 8000.csv', header=None)

In [225]:
census_2 = pd.read_csv('census_geocode_data/8-16000.csv', header=None)

In [258]:
census_3 = pd.read_csv('census_geocode_data/24000_csv.csv', header=None)

In [280]:
census = pd.concat([census_1, census_2, census_3], ignore_index=False)

In [295]:
names=['index_num', 'Street', 'Match', 'Precision', 'Full address', 'loc', 'loc2', 'A', 'B', 'C', 'D', 'E']

In [296]:
census.columns = names

In [261]:
len(census_1)

8000

In [265]:
census_3.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,16902,"14444 129th Ave NE, Kirkland, WA, 98034",Match,Non_Exact,"14444 129TH PL NE, KIRKLAND, WA, 98034","-122.16729,47.73239",186600250.0,R,53.0,33.0,21906.0,NaN
1,20439,"803 SW 4th Pl, Renton, WA, 98057",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [303]:
census.sort_values('index_num', inplace=True)

In [304]:
census.tail()

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
3862,21608,"929 N 97th St, Seattle, WA, 98103",Match,Non_Exact,"929 N 97TH ST, SEATTLE, WA, 98103","-122.34681,47.699615",239761412.0,R,53.0,33.0,1300.0,NaN
3832,21609,"2245 SW 104th St, Seattle, WA, 98146",Match,Non_Exact,"2245 SW 104TH ST, SEATTLE, WA, 98146","-122.36205,47.51002",186623179.0,L,53.0,33.0,26600.0,NaN
3839,21610,"902 26th Ave S, Seattle, WA, 98144",Match,Exact,"902 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594433",186593301.0,L,53.0,33.0,8900.0,NaN
3837,21611,"2157 NW Boulder Way Dr, Issaquah, WA, 98027",Match,Exact,"2157 NW BOULDER WAY DR, ISSAQUAH, WA, 98027","-122.06923,47.53435",187104382.0,L,53.0,33.0,25006.0,NaN
3845,21612,"916 26th Ave S, Seattle, WA, 98144",Match,Exact,"916 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594334",186593301.0,L,53.0,33.0,8900.0,NaN

In [308]:
# for col in ['B', 'C', 'D']:
#     census[col] = census[col].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [305]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Address,Neighborhood
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,"929 N 97th St, Seattle, WA 98103, USA",Greenwood
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,"2245 SW 104th St, Seattle, WA 98146, USA",Highline
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,"902 26th Ave S, Seattle, WA 98144, USA",Atlantic
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,"2157 NW Boulder Way Dr, Issaquah, WA 98027, USA",Talus
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,"916 26th Ave S, Seattle, WA 98144, USA",Atlantic

In [312]:
df['Address'].head(25).values

array(['6101 S Cooper St, Seattle, WA 98118, USA',
       '860 NE 127th St, Seattle, WA 98125, USA',
       '15098 81st Ave NE, Kenmore, WA 98028, USA',
       '9247 Fauntleroy Way SW, Seattle, WA 98136, USA',
       '757 222nd Pl NE, Sammamish, WA 98074, USA',
       '25005 NE Patterson Way, Redmond, WA 98053, USA',
       '505 S 325th St, Federal Way, WA 98003, USA',
       '21413 15th Ave S, Des Moines, WA 98198, USA',
       '209 SW 102nd St, Seattle, WA 98146, USA',
       '26019 232nd Pl SE, Maple Valley, WA 98038, USA',
       '1008 145th Pl SE, Bellevue, WA 98007, USA',
       '3435 NE 85th St, Seattle, WA 98115, USA',
       '17617 83rd Pl NE, Kenmore, WA 98028, USA',
       '305 221st Ave NE, Sammamish, WA 98074, USA',
       '2814 NW 56th St, Seattle, WA 98107, USA',
       '3608 33rd Ave SW, Seattle, WA 98126, USA',
       '14028 282nd Ln NE, Duvall, WA 98019, USA',
       '1211 N 50th St, Seattle, WA 98103, USA',
       '25 Pike St NE, Auburn, WA 98002, USA',
       '2202 S 300th St, Federal Way, WA 98003, USA',
       '10037 Interlake Ave N, Seattle, WA 98133, USA',
       '8134 SE 83rd St, Mercer Island, WA 98040, USA',
       '12813 SE 307th Pl, Auburn, WA 98092, USA',
       '13107 SE 277th Pl, Kent, WA 98030, USA',
       '12724 SE 254th Ct, Kent, WA 98030, USA'], dtype=object)

In [314]:
df.to_csv('dataframe 10.05.18 4 PM')

16000.csv                    TEST.csv
24000.csv                    Walk Score Scraping.ipynb
8000.csv                     census_geocode_data
Housing Data.ipynb           dataframe 10.05.18 4 PM
Luther.jpg                   formatted_addresses_csv.csv
Project Luther - Proposal.md kc_house_data.csv
README.md                    neighborhood_csv.csv

In [316]:
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
import time
import os
from bs4 import BeautifulSoup
import requests
from collections import defaultdict
import pickle

chromedriver = f"/Users/brenner/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

In [317]:
from Walk_Score_Scraping import get_walk_scores

ModuleNotFoundError: No module named 'Walk_Score_Scraping'

In [355]:
# Create dicts for Walk, Transit, & Bike Scores
walk_scores = defaultdict(str)
transit_scores = defaultdict(str)
bike_scores = defaultdict(str)

# Create dicts for Personal & Property Crime Scores
personal_crime_scores = defaultdict(str)
property_crime_scores = defaultdict(str)

In [357]:
# Must have started a Webdriver/Selenium session, e.g.:
# driver = webdriver.Chrome(chromedriver)
# driver.get(f'https://www.walkscore.com/score/1422-18th-ave-seattle-wa-98122')

def get_walk_scores(addresses):
#     for address in addresses:
    
#         # Convert to URL-ready address
#         new = address.lower().replace(",", "")
#         new = new.replace(" ", "-")
        
        # Count as we go
        count = 0
    
        # Sleep a bit
        time.sleep(3 + np.random.randn(1))
        print(f'Sleeping.')
        
#         # Fetch the URL
#         driver.get(f'https://www.walkscore.com/score/{new}')
        
        # Use search bar to get our next page
        input_element = driver.find_element_by_id('addrbar-street')
        input_element.click()
        input_element.send_keys(address)
        input_element.send_keys(Keys.ENTER)
              
        html = driver.page_source
        soup=BeautifulSoup(html)

        # Getting Walk, Transit, and Bike Scores
        image_tags = soup.find_all('img')
        
        try:
            for score in image_tags:
                if "Score of" in str(score):
                    
                    z = score['src']
                    
                    #Figure out which score (Walk/Transit/Bike) this is
                    if 'walk/' in z:
                        walk_scores[address] = z[-6:-4]
                    if 'transit/' in z:
                        transit_scores[address] = z[-6:-4]
                    if 'bike/' in z:
                        bike_scores[address] = z[-6:-4]

        except:
            print('No Walk/Bike/Transit Score for {address}')

        # Getting Personal & Property Crime Grades
        results = soup.find_all("div", {"class" : "crime-grade"})
        parsed_grades = []
            
        try:
            for grade in results:
                parsed_grades.append(grade.text)

            personal_crime_scores[address] = parsed_grades[0][2]
            property_crime_scores[address] = parsed_grades[1][2]
            
        except:
            print(f'No Crime Scores for {address}')

In [330]:
df['walk_score'] = np.nan
df['bike_score'] = np.nan
df['transit_score'] = np.nan
df['pers_crime_score'] = np.nan
df['prop_crime_score'] = np.nan

In [359]:
driver = webdriver.Chrome(chromedriver)
driver.get(f'https://www.walkscore.com/score/1422-18th-ave-seattle-wa-98122')

for i in range(0, 11):
    count = 0
    address = df.iloc[i, df.columns.get_loc('Address')]
    
    get_walk_scores(address)
    
    count += 1
    
    if count % 10 == 0:
        df.to_csv('/df_backups/backup_df.csv')

Sleeping.
Sleeping.
Sleeping.
Sleeping.
No Crime Scores for 9247 Fauntleroy Way SW, Seattle, WA 98136, USA
Sleeping.
No Crime Scores for 757 222nd Pl NE, Sammamish, WA 98074, USA
Sleeping.
No Crime Scores for 25005 NE Patterson Way, Redmond, WA 98053, USA
Sleeping.
No Crime Scores for 505 S 325th St, Federal Way, WA 98003, USA
Sleeping.
No Crime Scores for 21413 15th Ave S, Des Moines, WA 98198, USA
Sleeping.
No Crime Scores for 209 SW 102nd St, Seattle, WA 98146, USA
Sleeping.
No Crime Scores for 26019 232nd Pl SE, Maple Valley, WA 98038, USA
Sleeping.
No Crime Scores for 1008 145th Pl SE, Bellevue, WA 98007, USA

In [347]:
df.columns.get_loc('Address')

21

In [343]:
df.loc[i, 'Address']

NameError: name 'i' is not defined

In [341]:
df.columns.get_loc('date')

1

In [342]:
df.head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,long,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score
0,7129300520,20141013T000000,221900,3,1.0,1180,5650,1.0,0,0,...,-122.257,1340,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,NaN,NaN,NaN,NaN,NaN

In [366]:
float_test = 1300.0

In [393]:
# Fill NAs with float of 0.0 so we can run operations on the whole column to transform into full GEOID
census['D'].fillna(0.0, inplace=True)

In [398]:
# Add leading zeros to transform Census Tract ID into format we can use to find GEOID to match up with Census data
def add_zeros(x):
    x = str(int(x))
    x = x.zfill(6)
    return(x)

census['tract'] = census['D'].apply(add_zeros)

In [407]:
# Add the leading characters for GEOID to our tract number
# Note: '53' denotes Washington State, and '033' denotes King County.
census['GEOID'] = '53033' + census['tract']

In [411]:
# Add 'GEOID' column to our main dataframe
census.df['GEOID'] = census['GEOID'].valueshead()

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E,tract,GEOID
55,0,"6101 S Cooper St, Seattle, WA, 98118",Match,Non_Exact,"6101 S COOPER ST, SEATTLE, WA, 98118","-122.25696,47.51166",239766052.0,R,53.0,33.0,11900.0,NaN,011900,53033011900
53,1,"860 NE 127th St, Seattle, WA, 98125",Match,Non_Exact,"860 NE 127TH ST, SEATTLE, WA, 98125","-122.31958,47.721283",186716651.0,L,53.0,33.0,200.0,NaN,000200,53033000200
51,2,"15098 81st Ave NE, Kenmore, WA, 98028",Match,Exact,"15098 81ST AVE NE, KENMORE, WA, 98028","-122.23289,47.73783",239770253.0,R,53.0,33.0,22102.0,NaN,022102,53033022102
49,3,"9247 Fauntleroy Way SW, Seattle, WA, 98136",Match,Exact,"9247 FAUNTLEROY WAY SW, SEATTLE, WA, 98136","-122.3935,47.520912",186661942.0,R,53.0,33.0,11600.0,NaN,011600,53033011600
73,4,"757 222nd Pl NE, Sammamish, WA, 98074",Match,Exact,"757 222ND PL NE, SAMMAMISH, WA, 98074","-122.0446,47.61503",187001283.0,L,53.0,33.0,32317.0,NaN,032317,53033032317

In [590]:
median_income = pd.read_csv('median_income.csv')

In [592]:
income_dict = defaultdict(str)

In [438]:
# Remove the last entry because it contains a null value
median_income = median_income.iloc[:-1, :]

In [479]:
# Found another incorrect value. Finding the index so I can drop it.
median_income[median_income['HC02_EST_VC02'] == '(X)']

        GEO.id2 HC02_EST_VC02
54  53033005302           (X)

In [484]:
median_income.iloc[54]

GEO.id2          53033005302
HC02_EST_VC02            (X)
Name: 54, dtype: object

In [488]:
# Dropping incorrect row.
median_income = median_income.drop(54)

In [583]:
median_income = median_income.reset_index(inplace=True)

In [556]:
# Recasting income variable as an int to make things easier down the road
median_income['HC02_EST_VC02'] = median_income['HC02_EST_VC02'].astype('str', inplace=True)

In [594]:
new_one = dict()

In [582]:
# Backing up work
df.to_csv('backup saturday.csv')

census.to_csv('census backup saturday.csv')

median_income.to_csv('median_income backup.csv')

In [5]:
df = pd.read_csv('backup saturday.csv')

In [6]:
census = pd.read_csv('census backup saturday.csv')

In [7]:
median_income = pd.read_csv('median_income backup.csv')

In [14]:
median_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 4 columns):
Unnamed: 0       396 non-null int64
index            396 non-null int64
GEO.id2          396 non-null int64
HC02_EST_VC02    396 non-null int64
dtypes: int64(4)
memory usage: 12.5 KB

In [9]:
median_income['GEO.id2']

0      53033000100
1      53033000200
2      53033000300
3      53033000401
4      53033000402
5      53033000500
6      53033000600
7      53033000700
8      53033000800
9      53033000900
10     53033001000
11     53033001100
12     53033001200
13     53033001300
14     53033001400
15     53033001500
16     53033001600
17     53033001701
18     53033001702
19     53033001800
20     53033001900
21     53033002000
22     53033002100
23     53033002200
24     53033002400
25     53033002500
26     53033002600
27     53033002700
28     53033002800
29     53033002900
          ...
366    53033032214
367    53033032215
368    53033032307
369    53033032309
370    53033032311
371    53033032313
372    53033032315
373    53033032316
374    53033032317
375    53033032318
376    53033032319
377    53033032320
378    53033032321
379    53033032322
380    53033032323
381    53033032324
382    53033032325
383    53033032326
384    53033032327
385    53033032328
386    53033032329
387    53033032401
388    53033032402
389    53033032500
390    53033032601
391    53033032602
392    53033032702
393    53033032703
394    53033032704
395    53033032800
Name: GEO.id2, Length: 396, dtype: int64

In [15]:
income_tracts = dict(zip(median_income['GEO.id2'], median_income['HC02_EST_VC02']))

In [16]:
income_tracts

{53033000100: 44951,
 53033000200: 56208,
 53033000300: 64297,
 53033000401: 32472,
 53033000402: 62726,
 53033000500: 125400,
 53033000600: 60131,
 53033000700: 51741,
 53033000800: 87222,
 53033000900: 125109,
 53033001000: 69643,
 53033001100: 64549,
 53033001200: 31863,
 53033001300: 56744,
 53033001400: 72428,
 53033001500: 95927,
 53033001600: 96193,
 53033001701: 65188,
 53033001702: 62786,
 53033001800: 87159,
 53033001900: 61391,
 53033002000: 80400,
 53033002100: 85759,
 53033002200: 132981,
 53033002400: 103917,
 53033002500: 101413,
 53033002600: 91458,
 53033002700: 111661,
 53033002800: 90568,
 53033002900: 103750,
 53033003000: 90789,
 53033003100: 101397,
 53033003200: 79681,
 53033003300: 85595,
 53033003400: 97500,
 53033003500: 81563,
 53033003600: 65172,
 53033003800: 96310,
 53033003900: 110458,
 53033004000: 75714,
 53033004100: 132917,
 53033004200: 110091,
 53033004301: 64797,
 53033004302: 18908,
 53033004400: 50500,
 53033004500: 88914,
 53033004600: 113906,
 53033004700: 72396,
 53033004800: 93155,
 53033004900: 71809,
 53033005000: 65625,
 53033005100: 99083,
 53033005200: 38487,
 53033005301: 12269,
 53033005400: 84728,
 53033005600: 157292,
 53033005700: 90951,
 53033005801: 66563,
 53033005802: 62639,
 53033005900: 87667,
 53033006000: 96538,
 53033006100: 76980,
 53033006200: 131429,
 53033006300: 132000,
 53033006400: 154868,
 53033006500: 98617,
 53033006600: 82154,
 53033006700: 88719,
 53033006800: 98750,
 53033006900: 100172,
 53033007000: 67572,
 53033007100: 74143,
 53033007200: 74559,
 53033007300: 76582,
 53033007401: 67834,
 53033007402: 41842,
 53033007500: 63419,
 53033007600: 68199,
 53033007700: 104632,
 53033007800: 137358,
 53033007900: 57786,
 53033008001: 88068,
 53033008002: 37466,
 53033008100: 75531,
 53033008200: 56318,
 53033008300: 49291,
 53033008400: 42339,
 53033008500: 29883,
 53033008600: 43375,
 53033008700: 56700,
 53033008800: 76524,
 53033008900: 79953,
 53033009000: 44571,
 53033009100: 29464,
 53033009200: 25625,
 53033009300: 70458,
 53033009400: 47737,
 53033009500: 81676,
 53033009600: 77808,
 53033009701: 82333,
 53033009702: 106319,
 53033009800: 71705,
 53033009900: 67277,
 53033010001: 51316,
 53033010002: 66458,
 53033010100: 59275,
 53033010200: 84324,
 53033010300: 57750,
 53033010401: 60682,
 53033010402: 79432,
 53033010500: 66794,
 53033010600: 90208,
 53033010701: 55504,
 53033010702: 48036,
 53033010800: 74107,
 53033010900: 42159,
 53033011001: 29286,
 53033011002: 47604,
 53033011101: 52412,
 53033011102: 61901,
 53033011200: 35425,
 53033011300: 47363,
 53033011401: 54622,
 53033011402: 47701,
 53033011500: 75123,
 53033011600: 102500,
 53033011700: 60917,
 53033011800: 38846,
 53033011900: 71524,
 53033012000: 83421,
 53033012100: 110060,
 53033020100: 93235,
 53033020200: 72028,
 53033020300: 58182,
 53033020401: 61330,
 53033020402: 71758,
 53033020500: 66786,
 53033020600: 72500,
 53033020700: 56141,
 53033020800: 82344,
 53033020900: 63819,
 53033021000: 74048,
 53033021100: 70137,
 53033021300: 67438,
 53033021400: 99861,
 53033021500: 108750,
 53033021600: 96066,
 53033021700: 73456,
 53033021802: 87922,
 53033021803: 74856,
 53033021804: 72422,
 53033021903: 71417,
 53033021904: 89615,
 53033021905: 92614,
 53033021906: 81250,
 53033022001: 70591,
 53033022003: 75662,
 53033022005: 90900,
 53033022006: 81056,
 53033022101: 100168,
 53033022102: 96863,
 53033022201: 78409,
 53033022202: 82009,
 53033022203: 121759,
 53033022300: 113958,
 53033022400: 111754,
 53033022500: 100584,
 53033022603: 104382,
 53033022604: 94222,
 53033022605: 68636,
 53033022606: 104072,
 53033022701: 103292,
 53033022702: 123221,
 53033022703: 101250,
 53033022801: 88160,
 53033022802: 101184,
 53033022803: 96908,
 53033022901: 123000,
 53033022902: 120731,
 53033023000: 104013,
 53033023100: 92283,
 53033023201: 78119,
 53033023202: 46719,
 53033023300: 76500,
 53033023401: 71269,
 53033023403: 93387,
 53033023404: 146875,
 53033023500: 110568,
 53033023601: 78155,
 53033023603: 87236,
 53033023604: 72383,
 53033023700: 96268,
 53033023801: 97674,
 53033023803: 96975,
 53033023804: 89479,
 53033023900: 117308,
 53033024000: 107479,
 53033024100: 189231,
 53033024200: 175625,
 53033024300: 103178,
 53033024400: 69583,
 53033024500: 167361,
 53033024601: 175132,
 53033024602: 195156,
 53033024701: 83712,
 53033024702: 106941,
 53033024800: 68042,
 53033024901: 135625,
 53033024902: 102616,
 53033024903: 152458,
 53033025001: 110114,
 53033025003: 126089,
 53033025005: 103229,
 53033025006: 148750,
 53033025101: 81676,
 53033025102: 104469,
 53033025200: 75109,
 53033025301: 77278,
 53033025302: 34471,
 53033025400: 47773,
 53033025500: 57246,
 53033025601: 60833,
 53033025602: 105446,
 53033025701: 47219,
 53033025702: 85758,
 53033025803: 50750,
 53033025804: 71225,
 53033025805: 58309,
 53033025806: 77821,
 53033026001: 73750,
 53033026002: 51154,
 53033026100: 46826,
 53033026200: 46535,
 53033026300: 55110,
 53033026400: 43487,
 53033026500: 29107,
 53033026600: 63799,
 53033026700: 65660,
 53033026801: 36505,
 53033026802: 41875,
 53033027000: 59417,
 53033027100: 46250,
 53033027200: 50083,
 53033027300: 49023,
 53033027400: 60536,
 53033027500: 56406,
 53033027600: 51944,
 53033027701: 64007,
 53033027702: 81757,
 53033027800: 89185,
 53033027900: 52425,
 53033028000: 44127,
 53033028100: 45845,
 53033028200: 41386,
 53033028300: 78915,
 53033028402: 39756,
 53033028403: 31356,
 53033028500: 47560,
 53033028600: 88574,
 53033028700: 73841,
 53033028801: 60948,
 53033028802: 40590,
 53033028901: 67500,
 53033028902: 41000,
 53033029001: 58641,
 53033029003: 55747,
 53033029004: 31783,
 53033029101: 74228,
 53033029102: 65174,
 53033029203: 33704,
 53033029204: 59591,
 53033029205: 61304,
 53033029206: 29623,
 53033029303: 67727,
 53033029304: 92829,
 53033029305: 76755,
 53033029306: 71029,
 53033029307: 94375,
 53033029403: 70114,
 53033029405: 83750,
 53033029406: 89792,
 53033029407: 46627,
 53033029408: 41651,
 53033029502: 76295,
 53033029503: 33092,
 53033029504: 45329,
 53033029601: 72635,
 53033029602: 96964,
 53033029700: 40513,
 53033029801: 62788,
 53033029802: 74350,
 53033029901: 68609,
 53033029902: 84816,
 53033030003: 61250,
 53033030004: 42439,
 53033030005: 48942,
 53033030006: 27635,
 53033030100: 81458,
 53033030201: 51837,
 53033030202: 50226,
 53033030304: 86198,
 53033030305: 71311,
 53033030306: 94677,
 53033030308: 57565,
 53033030309: 61973,
 53033030310: 62237,
 53033030311: 71659,
 53033030312: 54413,
 53033030313: 40208,
 53033030314: 44918,
 53033030401: 73497,
 53033030403: 73917,
 53033030404: 68616,
 53033030501: 22775,
 53033030503: 42900,
 53033030504: 50396,
 53033030600: 53188,
 53033030700: 41492,
 53033030801: 34351,
 53033030802: 52317,
 53033030901: 60893,
 53033030902: 54315,
 53033031000: 104500,
 53033031100: 51058,
 53033031202: 76932,
 53033031204: 89375,
 53033031205: 71083,
 53033031206: 65809,
 53033031301: 74632,
 53033031302: 48385,
 53033031400: 55398,
 53033031501: 83667,
 53033031502: 74306,
 53033031601: 99730,
 53033031603: 82067,
 53033031604: 102202,
 53033031605: 91071,
 53033031703: 84408,
 53033031704: 82277,
 53033031705: 107311,
 53033031706: 74239,
 53033031800: 106875,
 53033031903: 87014,
 53033031904: 84088,
 53033031906: 107299,
 53033031907: 99038,
 53033031908: 61827,
 53033031909: 108265,
 53033032002: 91063,
 53033032003: 83750,
 53033032005: 87350,
 53033032006: 85323,
 53033032007: 90703,
 53033032008: 88375,
 53033032010: 96857,
 53033032011: 106957,
 53033032102: 98750,
 53033032103: 64474,
 53033032104: 82456,
 53033032203: 125636,
 53033032207: 142470,
 53033032208: 77226,
 53033032210: 116732,
 53033032211: 117250,
 53033032212: 126146,
 53033032213: 143585,
 53033032214: 156481,
 53033032215: 190900,
 53033032307: 121402,
 53033032309: 109469,
 53033032311: 149087,
 53033032313: 96573,
 53033032315: 131992,
 53033032316: 164599,
 53033032317: 138854,
 53033032318: 153098,
 53033032319: 68370,
 53033032320: 149519,
 53033032321: 199542,
 53033032322: 147750,
 53033032323: 119773,
 53033032324: 86600,
 53033032325: 107727,
 53033032326: 138917,
 53033032327: 101563,
 53033032328: 112917,
 53033032329: 136616,
 53033032401: 92500,
 53033032402: 106824,
 53033032500: 95309,
 53033032601: 84583,
 53033032602: 132072,
 53033032702: 100309,
 53033032703: 77483,
 53033032704: 70471,
 53033032800: 86121}

In [17]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID
0,0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,...,1340,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,NaN,NaN,NaN,NaN,NaN,53033011900
1,1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,...,1690,7639,"860 NE 127th St, Seattle, WA 98125, USA",North Seattle,NaN,NaN,NaN,NaN,NaN,53033000200
2,2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,...,2720,8062,"15098 81st Ave NE, Kenmore, WA 98028, USA",Kenmore,NaN,NaN,NaN,NaN,NaN,53033022102
3,3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,...,1360,5000,"9247 Fauntleroy Way SW, Seattle, WA 98136, USA",Fauntleroy,NaN,NaN,NaN,NaN,NaN,53033011600
4,4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,...,1800,7503,"757 222nd Pl NE, Sammamish, WA 98074, USA",Sammamish,NaN,NaN,NaN,NaN,NaN,53033032317

In [19]:
df['income'] = df['GEOID'].map(income_tracts)

In [21]:
income_tracts[53033022102]

96863

In [22]:
df.count

<bound method DataFrame.count of        Unnamed: 0          id             date    price  bedrooms  bathrooms  \
0               0  7129300520  20141013T000000   221900         3       1.00
1               1  6414100192  20141209T000000   538000         3       2.25
2               2  5631500400  20150225T000000   180000         2       1.00
3               3  2487200875  20141209T000000   604000         4       3.00
4               4  1954400510  20150218T000000   510000         3       2.00
5               5  7237550310  20140512T000000  1225000         4       4.50
6               6  1321400060  20140627T000000   257500         3       2.25
7               7  2008000270  20150115T000000   291850         3       1.50
8               8  2414600126  20150415T000000   229500         3       1.00
9               9  3793500160  20150312T000000   323000         3       2.50
10             10  1736800520  20150403T000000   662500         3       2.50
11             11  9212900260  20140527T000000   468000         2       1.00
12             12   114101516  20140528T000000   310000         3       1.00
13             13  6054650070  20141007T000000   400000         3       1.75
14             14  1175000570  20150312T000000   530000         5       2.00
15             15  9297300055  20150124T000000   650000         4       3.00
16             16  1875500060  20140731T000000   395000         3       2.00
17             17  6865200140  20140529T000000   485000         4       1.00
18             18    16000397  20141205T000000   189000         2       1.00
19             19  7983200060  20150424T000000   230000         3       1.00
20             20  6300500875  20140514T000000   385000         4       1.75
21             21  2524049179  20140826T000000  2000000         3       2.75
22             22  7137970340  20140703T000000   285000         5       2.50
23             23  8091400200  20140516T000000   252700         2       1.50
24             24  3814700200  20141120T000000   329000         3       2.25
25             25  1202000200  20141103T000000   233000         3       2.00
26             26  1794500383  20140626T000000   937000         3       1.75
27             27  3303700376  20141201T000000   667000         3       1.00
28             28  5101402488  20140624T000000   438000         3       1.75
29             29  1873100390  20150302T000000   719000         4       2.50
...           ...         ...              ...      ...       ...        ...
21583       21583  2025049203  20140610T000000   399950         2       1.00
21584       21584   952006823  20141202T000000   380000         3       2.50
21585       21585  3832050760  20140828T000000   270000         3       2.50
21586       21586  2767604724  20141015T000000   505000         2       2.50
21587       21587  6632300207  20150305T000000   385000         3       2.50
21588       21588  2767600688  20141113T000000   414500         2       1.50
21589       21589  7570050450  20140910T000000   347500         3       2.50
21590       21590  7430200100  20140514T000000  1222500         4       3.50
21591       21591  4140940150  20141002T000000   572000         4       2.75
21592       21592  1931300412  20150416T000000   475000         3       2.25
21593       21593  8672200110  20150317T000000  1088000         5       3.75
21594       21594  5087900040  20141017T000000   350000         4       2.75
21595       21595  1972201967  20141031T000000   520000         2       2.25
21596       21596  7502800100  20140813T000000   679950         5       2.75
21597       21597   191100405  20150421T000000  1575000         4       3.25
21598       21598  8956200760  20141013T000000   541800         4       2.50
21599       21599  7202300110  20140915T000000   810000         4       3.00
21600       21600   249000205  20141015T000000  1537000         5       3.75
21601       21601  5100403806  20150407T000000   467000         3       2.50
21602       21602   844000965  20140626T000000   224000         3       1.75
21603       21603  7852140040  20140825T000000   507250         3       2.50
21604       21604  9834201367  20150126T000000   429000         3       2.00
21605       21605  3448900210  20141014T000000   610685         4       2.50
21606       21606  7936000429  20150326T000000  1007500         4       3.50
21607       21607  2997800021  20150219T000000   475000         3       2.50
21608       21608   263000018  20140521T000000   360000         3       2.50
21609       21609  6600060120  20150223T000000   400000         4       2.50
21610       21610  1523300141  20140623T000000   402101         2       0.75
21611       21611   291310100  20150116T000000   400000         3       2.50
21612       21612  1523300157  20141015T000000   325000         2       0.75

       sqft_living  sqft_lot  floors  waterfront    ...     sqft_lot15  \
0             1180      5650     1.0           0    ...           5650
1             2570      7242     2.0           0    ...           7639
2              770     10000     1.0           0    ...           8062
3             1960      5000     1.0           0    ...           5000
4             1680      8080     1.0           0    ...           7503
5             5420    101930     1.0           0    ...         101930
6             1715      6819     2.0           0    ...           6819
7             1060      9711     1.0           0    ...           9711
8             1780      7470     1.0           0    ...           8113
9             1890      6560     2.0           0    ...           7570
10            3560      9796     1.0           0    ...           8925
11            1160      6000     1.0           0    ...           6000
12            1430     19901     1.5           0    ...          12697
13            1370      9680     1.0           0    ...          10208
14            1810      4850     1.5           0    ...           4850
15            2950      5000     2.0           0    ...           4000
16            1890     14040     2.0           0    ...          14018
17            1600      4300     1.5           0    ...           4300
18            1200      9850     1.0           0    ...           5095
19            1250      9774     1.0           0    ...           8850
20            1620      4980     1.0           0    ...           4980
21            3050     44867     1.0           0    ...          20336
22            2270      6300     2.0           0    ...           7005
23            1070      9643     1.0           0    ...           8386
24            2450      6500     2.0           0    ...           6865
25            1710      4697     1.5           0    ...           4705
26            2450      2691     2.0           0    ...           3573
27            1400      1581     1.5           0    ...           3861
28            1520      6380     1.0           0    ...           6235
29            2570      7173     2.0           0    ...           6026
...            ...       ...     ...         ...    ...            ...
21583          710      1157     2.0           0    ...           1173
21584         1260       900     2.0           0    ...           1415
21585         1870      5000     2.0           0    ...           5399
21586         1430      1201     3.0           0    ...           1249
21587         1520      1488     3.0           0    ...           1497
21588         1210      1278     2.0           0    ...           1118
21589         2540      4760     2.0           0    ...           4571
21590         4910      9444     1.5           0    ...          11063
21591         2770      3852     2.0           0    ...           5641
21592         1190      1200     3.0           0    ...           1224
21593         4170      8142     2.0           0    ...           7980
21594         2500      5995     2.0           0    ...           5988
21595         1530       981     3.0           0    ...           1282
21596         3600      9437     2.0           0    ...           9421
21597         3410     10125     2.0           0    ...          10125
21598         3118      7866     2.0           0    ...           6500
21599         3990      7838     2.0           0    ...           6814
21600         4470      8088     2.0           0    ...           8964
21601         1425      1179     3.0           0    ...           1253
21602         1500     11968     1.0           0    ...          11303
21603         2270      5536     2.0           0    ...           5731
21604         1490      1126     3.0           0    ...           1230
21605         2520      6023     2.0           0    ...           6023
21606         3510      7200     2.0           0    ...           6200
21607         1310      1294     2.0           0    ...           1265
21608         1530      1131     3.0           0    ...           1509
21609         2310      5813     2.0           0    ...           7200
21610         1020      1350     2.0           0    ...           2007
21611         1600      2388     2.0           0    ...           1287
21612         1020      1076     2.0           0    ...           1357

                                                 Address        Neighborhood  \
0               6101 S Cooper St, Seattle, WA 98118, USA       Rainier Beach
1                860 NE 127th St, Seattle, WA 98125, USA       North Seattle
2              15098 81st Ave NE, Kenmore, WA 98028, USA             Kenmore
3         9247 Fauntleroy Way SW, Seattle, WA 98136, USA          Fauntleroy
4              757 222nd Pl NE, Sammamish, WA 98074, USA           Sammamish
5         25005 NE Patterson Way, Redmond, WA 98053, USA             Redmond
6             505 S 325th St, Federal Way, WA 98003, USA         Federal Way
7            21413 15th Ave S, Des Moines, WA 98198, USA          Des Moines
8                209 SW 102nd St, Seattle, WA 98146, USA            Highline
9         26019 232nd Pl SE, Maple Valley, WA 98038, USA        Maple Valley
10             1008 145th Pl SE, Bellevue, WA 98007, USA          Lake Hills
11               3435 NE 85th St, Seattle, WA 98115, USA   Northeast Seattle
12              17617 83rd Pl NE, Kenmore, WA 98028, USA             Kenmore
13            305 221st Ave NE, Sammamish, WA 98074, USA           Sammamish
14               2814 NW 56th St, Seattle, WA 98107, USA         Old Ballard
15              3608 33rd Ave SW, Seattle, WA 98126, USA       North Admiral
16              14028 282nd Ln NE, Duvall, WA 98019, USA              Duvall
17                1211 N 50th St, Seattle, WA 98103, USA         Wallingford
18                  25 Pike St NE, Auburn, WA 98002, USA              Auburn
19           2202 S 300th St, Federal Way, WA 98003, USA         Federal Way
20         10037 Interlake Ave N, Seattle, WA 98133, USA      Licton Springs
21         8134 SE 83rd St, Mercer Island, WA 98040, USA       Mercer Island
22              12813 SE 307th Pl, Auburn, WA 98092, USA            Lea Hill
23                13107 SE 277th Pl, Kent, WA 98030, USA                Kent
24                12724 SE 254th Ct, Kent, WA 98030, USA                Kent
25                    227 I St SE, Auburn, WA 98002, USA              Auburn
26                2215 2nd Ave W, Seattle, WA 98119, USA     West Queen Anne
27            1414 E Harrison St, Seattle, WA 98112, USA        Capitol Hill
28              9109 23rd Ave NE, Seattle, WA 98115, USA   Northeast Seattle
29            17260 NE 119th Way, Redmond, WA 98052, USA       North Redmond
...                                                  ...                 ...
21583        2348 Fairview Ave E, Seattle, WA 98102, USA            Eastlake
21584           4542 41st Ave SW, Seattle, WA 98116, USA             Genesee
21585            21608 SE 299th Way, Kent, WA 98042, USA                Kent
21586            1751 NW 58th St, Seattle, WA 98107, USA         Old Ballard
21587         1725 NE 145th St, Shoreline, WA 98155, USA           Lake City
21588  5238, 1427 NW 65th St, Seattle, WA 98117, Unit...             Ballard
21589     28458 239th Pl SE, Maple Valley, WA 98038, USA        Maple Valley
21590         4502 205th Pl NE, Sammamish, WA 98074, USA           Sammamish
21591           11451 80th Ave S, Seattle, WA 98178, USA             Seattle
21592         3902 Whitman Ave N, Seattle, WA 98103, USA             Fremont
21593          7515 SE 76th St, Newcastle, WA 98056, USA           Newcastle
21594        25305 176th Pl SE, Covington, WA 98042, USA           Covington
21595         3809 Whitman Ave N, Seattle, WA 98103, USA             Fremont
21596              6558 NE 1st St, Renton, WA 98059, USA              Renton
21597      8704 SE 45th St, Mercer Island, WA 98040, USA       Mercer Island
21598             5637 S 344th Ct, Auburn, WA 98001, USA              Auburn
21599           21837 NE 97th Pl, Redmond, WA 98053, USA       Redmond Ridge
21600          10524 NE 24th St, Bellevue, WA 98004, USA  Northwest Bellevue
21601    9221B, Roosevelt Way NE, Seattle, WA 98115, USA          Maple Leaf
21602      25510 Lawson St, Black Diamond, WA 98010, USA       Black Diamond
21603  6930 Elderberry Ave SE, Snoqualmie, WA 98065, USA    Snoqualmie Ridge
21604            3656 36th Ave S, Seattle, WA 98144, USA           Mt. Baker
21605             3943 NE 24th Ct, Renton, WA 98056, USA              Renton
21606           5426 Beach Dr SW, Seattle, WA 98136, USA           Southwest
21607           3012 60th Ave SW, Seattle, WA 98116, USA                Alki
21608              929 N 97th St, Seattle, WA 98103, USA           Greenwood
21609           2245 SW 104th St, Seattle, WA 98146, USA            Highline
21610             902 26th Ave S, Seattle, WA 98144, USA            Atlantic
21611    2157 NW Boulder Way Dr, Issaquah, WA 98027, USA               Talus
21612             916 26th Ave S, Seattle, WA 98144, USA            Atlantic

       walk_score  bike_score  transit_score  pers_crime_score  \
0             NaN         NaN            NaN               NaN
1             NaN         NaN            NaN               NaN
2             NaN         NaN            NaN               NaN
3             NaN         NaN            NaN               NaN
4             NaN         NaN            NaN               NaN
5             NaN         NaN            NaN               NaN
6             NaN         NaN            NaN               NaN
7             NaN         NaN            NaN               NaN
8             NaN         NaN            NaN               NaN
9             NaN         NaN            NaN               NaN
10            NaN         NaN            NaN               NaN
11            NaN         NaN            NaN               NaN
12            NaN         NaN            NaN               NaN
13            NaN         NaN            NaN               NaN
14            NaN         NaN            NaN               NaN
15            NaN         NaN            NaN               NaN
16            NaN         NaN            NaN               NaN
17            NaN         NaN            NaN               NaN
18            NaN         NaN            NaN               NaN
19            NaN         NaN            NaN               NaN
20            NaN         NaN            NaN               NaN
21            NaN         NaN            NaN               NaN
22            NaN         NaN            NaN               NaN
23            NaN         NaN            NaN               NaN
24            NaN         NaN            NaN               NaN
25            NaN         NaN            NaN               NaN
26            NaN         NaN            NaN               NaN
27            NaN         NaN            NaN               NaN
28            NaN         NaN            NaN               NaN
29            NaN         NaN            NaN               NaN
...           ...         ...            ...               ...
21583         NaN         NaN            NaN               NaN
21584         NaN         NaN            NaN               NaN
21585         NaN         NaN            NaN               NaN
21586         NaN         NaN            NaN               NaN
21587         NaN         NaN            NaN               NaN
21588         NaN         NaN            NaN               NaN
21589         NaN         NaN            NaN               NaN
21590         NaN         NaN            NaN               NaN
21591         NaN         NaN            NaN               NaN
21592         NaN         NaN            NaN               NaN
21593         NaN         NaN            NaN               NaN
21594         NaN         NaN            NaN               NaN
21595         NaN         NaN            NaN               NaN
21596         NaN         NaN            NaN               NaN
21597         NaN         NaN            NaN               NaN
21598         NaN         NaN            NaN               NaN
21599         NaN         NaN            NaN               NaN
21600         NaN         NaN            NaN               NaN
21601         NaN         NaN            NaN               NaN
21602         NaN         NaN            NaN               NaN
21603         NaN         NaN            NaN               NaN
21604         NaN         NaN            NaN               NaN
21605         NaN         NaN            NaN               NaN
21606         NaN         NaN            NaN               NaN
21607         NaN         NaN            NaN               NaN
21608         NaN         NaN            NaN               NaN
21609         NaN         NaN            NaN               NaN
21610         NaN         NaN            NaN               NaN
21611         NaN         NaN            NaN               NaN
21612         NaN         NaN            NaN               NaN

       prop_crime_score        GEOID    income
0                   NaN  53033011900   71524.0
1                   NaN  53033000200   56208.0
2                   NaN  53033022102   96863.0
3                   NaN  53033011600  102500.0
4                   NaN  53033032317  138854.0
5                   NaN  53033032315  131992.0
6                   NaN  53033030314   44918.0
7                   NaN  53033000000       NaN
8                   NaN  53033026801   36505.0
9                   NaN  53033032011  106957.0
10                  NaN  53033023604   72383.0
11                  NaN  53033002400  103917.0
12                  NaN  53033021700   73456.0
13                  NaN  53033032203  125636.0
14                  NaN  53033003200   79681.0
15                  NaN  53033009900   67277.0
16                  NaN  53033032402  106824.0
17                  NaN  53033005000   65625.0
18                  NaN  53033030600   53188.0
19                  NaN  53033030005   48942.0
20                  NaN  53033001300   56744.0
21                  NaN  53033000000       NaN
22                  NaN  53033031205   71083.0
23                  NaN  53033029601   72635.0
24                  NaN  53033029502   76295.0
25                  NaN  53033000000       NaN
26                  NaN  53033006800   98750.0
27                  NaN  53033007500   63419.0
28                  NaN  53033002100   85759.0
29                  NaN  53033032321  199542.0
...                 ...          ...       ...
21583               NaN  53033006100   76980.0
21584               NaN  53033010500   66794.0
21585               NaN  53033031601   99730.0
21586               NaN  53033004700   72396.0
21587               NaN  53033000000       NaN
21588               NaN  53033000000       NaN
21589               NaN  53033031604  102202.0
21590               NaN  53033032316  164599.0
21591               NaN  53033026001   73750.0
21592               NaN  53033005400   84728.0
21593               NaN  53033000000       NaN
21594               NaN  53033031705  107311.0